:root {
  --white: #fefeff;
  --accent: #b68867;
  --primary: #121214;
  --dark-grey: #1e1e20;
  --light-gray: #919192;
  --medium-gray: #4f4f51;
  --primary-20: rgba(182, 136, 103, 0.2);
  --hover-btn: rgba(182, 136, 103, 0.7);
  --hover-secondary-btn: rgba(64, 54, 49, 0.4);
  --primary-light: #c5a085;
  --background: #121214;
  --white-10: #39393b;
  --white-20: rgba(255, 255, 255, 0.2);
  --white-5: rgba(255, 255, 255, 0.05);
  --white-90: #e9e9e9;
  --white-80: #d3d3d3;
  --white-70: #bdbdbe;
  --white-60: #a7a7a8;
  --white-40: #7b7b7c;
  --white-30: #656566;
  --white-05: #1e1e20;
  --primary-15: rgba(26, 156, 192, 0.15);
  --green-active: #27c137;
  --green-basic: #2ea56d;
  --green-fill: rgba(74, 169, 112, 0.09);
  --green-stroke: rgba(171, 239, 198, 0.5);
  --green-active: #72d38d;
  --red-fill: rgba(240, 68, 56, 0.09);
  --red-basic: #f04438;
  --red-stroke: rgba(254, 205, 202, 0.5);
  --gray-basic: #667085;
  --gray-stroke: rgba(228, 231, 236, 0.5);
  --gray-fill: rgba(102, 112, 133, 0.09);
  --checkbox-border: #d0d5dd;
  --ellipse: rgba(0, 0, 0, 0.4);
  --animation-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --colors-effects-shadows-shadow-xs: rgba(16, 24, 40, 0.05);
  --linear-gradient: linear-gradient(150deg, #b68867 6.05%, #bc8473 88.69%);
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  max-width: 100vw;
}

body {
  min-height: 100vh;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: var(--primary);
  color: var(--white);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  padding: 0;
  margin: 0;
  background: none;
  font: inherit;
  color: inherit;
  cursor: text;
}

img {
  display: block;
  height: auto;
  width: 100%;
}

ul,
ol {
  list-style: none;
}

h1,
h2,
h3,
p {
  margin: 0;
  font-weight: normal;
  margin-block-start: 0;
}

table {
  border-spacing: 0cap;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  background-color: transparent;
  cursor: pointer;
}

address {
  font-style: normal;
}

.container {
  width: 393px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

.main-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  gap: 8px;
  padding: 18px 24px;
  font-size: 16px;
  color: var(--white);
  transition: background-color var(--animation-transition);
}

.primary-btn {
  background-color: var(--accent);
  z-index: 1;
}

.primary-btn:hover,
.primary-btn:focus {
  background-color: var(--hover-btn);
}

.secondary-btn {
  background-color: var(--primary-20);
}

.secondary-btn:hover,
.secondary-btn:focus {
  background-color: var(--hover-secondary-btn);
}

.subscribe-btn {
  height: 44px;
  padding: 12px 16px;
}

.btn-large {
  width: 361px;
  height: 56px;
  margin-left: auto;
  margin-right: auto;
}

.btn-medium {
  width: 140px;
  height: 44px;
}

/* TEXT, TITLE */

.sub-text-line-height{
  line-height: 1.4;
}

/* COLOR */

.gray {
  color: var(--light-gray);
}